/*@import-normalize;*/
body {
    margin: 0;
    font-family: 'Roboto', serif;
}

.wrapper {
    display: grid;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 100%;
    padding: 20px;
    background: url(./img/bg.jpg) center center no-repeat fixed;
    background-size: cover;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
            'h h h'
            'm m m'
            'f f f';
}